{% extends "base.html" %}

{% block title_head %}
<title>Nosotros</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Quienes somos</h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat animi enim inventore, atque, quod, qui excepturi dolorum aspernatur hic in iste! Officia dicta ducimus explicabo pariatur fugiat? Minima quae deleniti ullam ea, nihil illo, sapiente, provident quos excepturi dolores pariatur enim quo saepe vel itaque neque laborum. Voluptatibus illum illo sapiente, nemo ullam ab alias laudantium repudiandae, nostrum harum modi suscipit dolorum, dignissimos quos amet! Eius fuga, excepturi officiis amet modi ipsum alias unde molestias voluptatem magni deleniti ut laboriosam quae sit repellat ipsam, sunt vero animi veniam repudiandae beatae quidem. Labore ducimus vitae consequatur voluptatem ullam officia ipsam blanditiis.</p>
{% endblock h1_header %}

