{% extends "base.html" %}

{% block title_head %}
<title>Productos</title>
{% endblock title_head %}

{% block h1_header %}
Productos
{% endblock h1_header %}

{% block main %}

<form action="">
    {% comment %} <input type="text" name="marca" placeholder="Wilson, Head..."> {% endcomment %}
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

{% if listado_de_video %}
<ul>
    {% for Video in listado_de_video %}
    <li>{{video}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron Placas de video.</p>
{% endif %}

{% endblock main %}